<header>
  <h1>Hello, {{username}}!</h1>
  <div class="createProfile">
    <form class="create" action="/addProfile" method="get">
      <input type="submit" name="name" value="Create New Profile">
    </form>
  </div>
  <form class="editUser" action="/editUser" method="post">
    <input type="submit" name="submit" value="Edit Profile">
  </form>
</header>
<section>
  <div id="tweets">
    {{#each uniqueMessages}}
    <div class="username">
      You wrote: "{{message}}" at {{time}}
    </div>
    {{/each}}
  </div>
  <form class="tweet" action="/main" method="post">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit" value="Submit">
  </form>

  <div class="info">
      <div class="userInfo">
        Age: {{info.age}}
        <br>
        Sex: {{info.sex}}
        <br>
        Location: {{info.location}}
        <br>
        About me: {{info.aboutMe}}
      </div>
  </div>
</section>
