<header>
  <h1>Hello, {{username}}!</h1>

  <form class="editUser" action="/editUser" method="post">
    <input type="submit" name="submit" value="Edit Profile">
  </form>
</header>
<section>
  <div id="tweets">
    {{#each uniqueMessages}}
    <div class="username">
      You wrote: "{{message}}" at {{time}}
    </div>
    {{/each}}
  </div>
  <form class="tweet" action="/main" method="post">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit" value="Submit">
  </form>

  <div class="info">
    {{#each info}}
      <div class="userInfo">
        Age: {{userInfo.age}}
        <br>
        Sex: {{userInfo.sex}}
        <br>
        Location: {{userInfo.location}}
        <br>
        About me: {{userInfo.aboutMe}}
      </div>
    {{/each}}
  </div>
</section>
