<div id="container">
<div class="inner">
  <div>
  <a href="/logout"><h3>Log Out</h3></a>
  </div>

<header>
  <h1>Hello, {{username}}!</h1>
  <div class="createProfile">
  <a href="/addProfile"><h4>Create New Profile</h3></a>
  </div>
  <div class="editProfile">
  <a href="/editUser"><h4>Edit Profile</h3></a>
    </div>
    <div class="Home">
      <a href="/"><h4>Home</h4></a>
    </div>
</header>
<section>
  <div class="info">
      <div class="userInfo">
        Age: {{info.age}}
        <br>
        Sex: {{info.sex}}
        <br>
        Location: {{info.location}}
        <br>
        About me: {{info.aboutMe}}
      </div>
  </div>
  <form class="tweet" id="formMessage">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit" id = "submit" value="Submit">
  </form>
  <div id="tweets">
    {{#each uniqueMessages}}
    <div class="username">
      You wrote: "{{message}}" at {{time}}
    </div>
    {{/each}}
  </div>

</div>
</div>
</section>
<script type="text/javascript">
var audio = new Audio('smw_coin.wav');
function viewProfile() {
  $.get('/user')
}
  function displayTweets() {
    $.getJSON("/posts", function(data){
      var message = data.tweets[0].message;
      var username = data.tweets[0].username;
      var time = data.tweets[0].time;
        $("#tweets").prepend('<div>'+ "You" + " wrote: " + '"' + message + '"' + " at " + time +'</div>');
    });
  }
  $("#submit").click(function(event){
      var form = $("#formMessage")
      event.preventDefault();
      console.log("prevented");
      writeTweet();
      $("#formMessage")[0].reset();
      audio.play();
      displayTweets();
  });
function writeTweet() {
  var username = document.cookie.replace(/(?:(?:^|.*;\s*)name\s*\=\s*([^;]*).*$)|^.*$/, "$1");
  var message = $("#message")[0].value
  var form = document.getElementById("messageForm")
  var d = new Date();
  var month = parseInt(d.getMonth())+1;
  var time = d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()+" on "+month+"/"+d.getDate()+"/"+d.getFullYear();
  $.post('/userToUser', {'username': username, 'message':message, "time": time})
 }
</script>
